%h2 O nas
.about
  %p Działamy na rynku jako dostawca szerokiego zakresu armatury zaporowej i odcinającej do instalacji i przemysłu.
  %p Elastyczny system sprzedaży daje możliwość uzyskania atrakcyjnych warunków współpracy na wszystkich etapach realizacji transakcji poprzez indywidulane podejście do każdego Kontrahenta.
  %p Nawiązany z nami kontakt owocuje dalszym wspólnym sukcesem w przyszłości dając efekt synergii.
  %p Dostarczamy wyłącznie oryginalne wyroby.
  %p Opieramy swoją działalność na trzech zasadach: wysoka jakość, zadowolenie Klienta, niska cena.
  %p Rzetelna i fachowa wiedza całego zespołu firmy znacznie wyróżnia nas na tle konkurencji.
  %p
    Zapraszamy Państwa do zapoznania się z naszą
    =link_to "ofertą!","/productions/"
/
  %blockquote
    %p Jesteśmy autoryzowanym przedstawicielem DENDOR Valve Industrial. Prowadzimy hurtową i detaliczną sprzedaż urządzeń produkcji DENDOR do instalacji i przemysłu. Produkcja jest dostarczana do Klienta bezpośrednio z zakładu. Posiadamy  wszystkie niezbędne certyfikaty i pozwolenia.
  .span5.pull-right
    =link_to "Czytaj więcej...", "/about.html", :class=>"btn btn-large btn-block btn-success"
