-@view = {:title=>"Dendor Valve Industrial", :description=>"Armatura przemysłowa Dendor Valve Industrial.", :keywords=>"Armatura przemysłowa"}

%h2 O nas
.about
  %p Działamy na rynku jako producent i dostawca szerokiej gamy najwyższej jakości armatury przemysłowej, systemów naprawczo-połączeniowych i kształtek wodociągowych z żeliwa sferoidalnego.
  %p Elastyczny system sprzedaży daje możliwość uzyskania atrakcyjnych warunków realizacji transakcji poprzez indywidulane podejście do każdego Kontrahenta.
  %p Nawiązana z nami współpraca przyczyni się do sukcesu Państwa firmy dając obu stronom w przyszłości efekt synergii.
  %p Doskonalenie się w obsłudze Klienta, dbanie o jakość wyrobów oraz stałe podnoszenie kwalifikacji - oto co przyświeca naszej codziennej pracy.
  %p Otwartością na potrzeby każdego Klienta oraz solidnością w realizacji zamówień zapewniliśmy sobie uznanie naszych Klientów.
  %p Rzetelny i zaangażowany zespół przekona Cię już dziś co znaczy marka Dendor Valve Industrial.
  %p Zapraszamy Państwa do zapoznania się z naszą #{link_to("ofertą!","/productions/")}
