-@view = {:title=>"Dendor Valve Industrial", :description=>"Armatura przemysłowa Dendor Valve Industrial.", :keywords=>"Armatura przemysłowa"}
-@css = "home"
-@script = "home"

%h2 O nas
.about
  %p Działamy na rynku jako producent i dostawca szerokiej gamy najwyższej jakości armatury przemysłowej, systemów naprawczo-połączeniowych i kształtek wodociągowych z żeliwa sferoidalnego.
  %p Elastyczny system sprzedaży daje możliwość uzyskania atrakcyjnych warunków realizacji transakcji poprzez indywidulane podejście do każdego Kontrahenta.
  %p Nawiązana z nami współpraca może przyczynić się do sukcesu dając obu stronom w przyszłości efekt synergii.
  %p Doskonalenie się w obsłudze Klienta, jakości naszych wyrobów, podnoszeniu kwalifikacji przyświeca naszej codziennej pracy.
  %p Otwartościom na potrzeby każdego Klienta oraz solidnością w realizacji zamówień zapewniliśmy sobie uznanie naszych Klientów.
  %p Rzetelny i zaangażowany zespół przekona Cię już dziś co znaczy marka Dendor Valve Industrial.
  %p
    Zapraszamy Państwa do zapoznania się z naszą
    =link_to "ofertą!","/productions/"
/
  %blockquote
    %p Jesteśmy autoryzowanym przedstawicielem DENDOR Valve Industrial. Prowadzimy hurtową i detaliczną sprzedaż urządzeń produkcji DENDOR do instalacji i przemysłu. Produkcja jest dostarczana do Klienta bezpośrednio z zakładu. Posiadamy  wszystkie niezbędne certyfikaty i pozwolenia.
  .span5.pull-right
    =link_to "Czytaj więcej...", "/about.html", :class=>"btn btn-large btn-block btn-success"
