-@view = {:title=>"Dendor Valve Industrial", :description=>"Armatura przemysłowa Dendor Valve Industrial.", :keywords=>"Armatura przemysłowa"}

%h2 O nas
.about
  %p Działamy na rynku materiałów instalacyjnych w charakterze producenta i dostawcy urządzeń armatury przemysłowej.
  %p Elastycznie podchodzimy do potrzeb każdego naszego Klienta i Kontrahenta.
  %p Nadążamy za nowymi technologiami oraz nowymi produktami branżowymi.
  %p Dbamy o wizerunek marki i wysoki poziom swoich kwalifikacji zawodowych.
  %p Oferujemy armaturę przemysłową, systemy naprawczo-połączeniowe, kształtki wodociągowe z żeliwa sferoidalnego.
  %p Realizujemy zamówienia w sposób szybki, rzetelny i kreatywny.
  %p Zapraszamy Państwa do zapoznania się z naszą #{link_to("ofertą!","/productions/")}
