-@view = {:title=>'Międzynarodowe Targi "EKWATEK 2014" w Moskwie', :description=>'Międzynarodowe Targi "EKWATEK 2014" w Moskwie', :keywords=>"Targi EKWATEK 2014", :link=>"exhibition-in-moscow.html"}

%p Dendor Valve Industrial wzięła udział w Międzynarodowych Targach Wodnych Technologii „EKWATEK 2014” w dniach 03-06 czerwca 2014r. w ramach 11-go Międzynarodowego Forum EKWATEK w Moskwie.
%p Na stoisku firmy mogli Państwo zapoznać się z nowościami oraz udoskonalonymi wersjami naszych produktów. Mamy nadzieję, że udzielona przez naszych specjalistów informacja była wyczerpująca.
%p Serdecznie dziękujemy wszystkim którzy odwiedzili nasze stoisko!
