-@view = {:title=>'Międzynarodowe Targi "Aqua-Therm" w Sankt Petersburgu', :description=>'Międzynarodowe Targi "Aqua-Therm" w Sankt Petersburgu 09-12 kwietnia 2014 r', :keywords=>"Targi Aqua-Therm 2014", :link=>"exhibition-in-spb.html"}

%p Firma Dendor Valve Industrial wzięła udział w Międzynarodowych Targach Systemów Cieplnych, Wodociągowych, Sanitarnych, Klimatyzacyjnych, Wentylacyjnych oraz urządzeń do basenów „Aqua-Therm St.Petersburg 2014” w dniach 09-12 kwietnia 2014 r. w Sankt Petersburgu.
%p Podczas targów firma zaprezentowała swoją nową produkcję oraz udoskonalone wersje urządzeń do instalacji i przemysłu. Mamy nadzieję, że udzielona przez naszych specjalistów informacja była wystarczająca. Zawsze jesteśmy do Państwa dyspozycji!
%p Serdecznie dziękujemy wszystkim którzy odwiedzili nasze stoisko w Centrum Wystawienniczym „LENEXPO”!
