-@view = {:title=>'XIX Międzynarodowe Targi Aqua-Therm Moscow 2015', :description=>'XIX Międzynarodowe Targi Aqua-Therm Moscow 2015 03-16 lutego 2015 r', :keywords=>"Targi Aqua-Therm Moscow 2015", :link=>"exhibition-aqua-term-moscow-2015.html"}

%p Szanowni Państwo!
%p W dniach 3-6.02.2015 odbędą się #{content_tag(:strong,'XIX Międzynarodowe Targi Aqua-Therm Moscow')} w Centrum Wystawienniczym (МVC) „Кrokus Ekspo” w Moskwie.
%p Targi Aqua-Therm Moscow są znaczącym wydarzeniem branżowym w całej Europie, jak również największą platformą spotkań biznesowych, miejscem prezentacji najnowszych produktów z zakresu armatury do instalacji przemysłowych dla sektora wodno-kanalizacyjnego – ciepłowniczego(WOD-KAN-CO), wyposażenia sanitarnego tak krajowych jak i zagranicznych producentów.
%p Podczas targów goście będą mogli zapoznać się z najnowszymi produktami firmy,  udoskonalonymi wersjami urządzeń już istniejących na rynku oraz otrzymać niezbędną informację dotyczącą całej oferty produkcyjnej Dendor.
%p
  %strong Stoisko firmy znajduje się w pawilonie 3, sala Nr 13, stoisko А213.
%p Adres: Moskwa, m.Krasnogorsk 16, skr.poczt.92, MVC „Krokus Ekspo”
Serdecznie zapraszamy!

