-@view = {:title=>"Targi WOD-KAN 20-22 maja 2014 r.", :description=>"Targi WOD-KAN 20-22 maja 2014 r.", :keywords=>"Targi WOD-KAN", :link=>"exhibition-in-poland.html"}

%p Firma Dendor Valve Industrial po raz pierwszy wzięła udział w XXII Międzynarodowych Targach Maszyn i Urządzeń do wodociągu i kanalizacji WOD-KAN 2014 w dniach 20-22 maja 2014 r (na terenie wystawienniczym Bydgoszcz Myślęcinek).
%p Była to dla nas doskonała okazja do zaprezentowania oferty handlowo-produkcyjnej firmy. Sądzimy, że zapoznanie się z naszą produkcja pozwoliło Państwu w pełni ocenić jej walory.
%p Serdecznie dziękujemy wszystkim którzy odwiedzili nasze stoisko i zapraszamy do współpracy!
