-@view = {:title=>"Targi WOD-KAN 20-22 maja 2014 r.", :description=>"Targi WOD-KAN 20-22 maja 2014 r.", :keywords=>"Targi WOD-KAN", :link=>"exhibition-in-poland.html"}

%p Z wielką radością informujemy, że w dniach 20-22 maja 2014 roku firma Dendor Valve Industrial będzie wystawcą na XXII Międzynarodowych Targach Maszyn i Urządzeń do wodociągu i kanalizacji WOD-KAN 2014 (na terenie wystawienniczym Bydgoszcz Myślęcinek).
%p Dają one naszej firmie okazję do zaprezentowania najnowszej oferty handlowo-produkcyjnej, jak również możliwość nawiązania nowych kontaktów biznesowych. Obecność na tych jakże ważnych targach pozwoli firmie Dendor Valve Industrial zaznaczyć swoją obecność wśród innych wystawców  i producentów armatury do instalacji i przemysłu na rynku urządzeń WOD-KAN w Polsce i na świecie.
%p Serdecznie Państwa zapraszamy!



