-@view = {:title=>'Międzynarodowe Targi "Aqua-Therm" w Sankt Petersburgu', :description=>'Międzynarodowe Targi "Aqua-Therm" w Sankt Petersburgu 09-12 kwietnia 2014 r', :keywords=>"Targi Aqua-Therm 2014", :link=>"exhibition-in-spb.html"}

%p W dniach 09-12 kwietnia 2014 r. w Sankt Petersburgu odbędą się Międzynarodowe Targi Systemów Cieplnych, Wodociągowych, Sanitarnych, Klimatyzacyjnych, Wentylacyjnych oraz urządzeń do basenów „Aqua-Therm St.Petersburg 2014”.
%p Dendor Valve Industrial zaprezentuje swoje nowe produkty oraz udoskonalone wersje urządzeń do instalacji i przemysłu. Nasi specjaliści udzielą wszystkim odwiedzającym nasze stoisko pełen zakres informacji dotyczących pracy i zastosowań elementów produkcji Dendor Valve Industrial.
%p Zapraszamy do odwiedzenia naszego stoiska w Centrum Wystawienniczym „LENEKSPO”, pawilon nr 7.
