-@view = {:title=>'Międzynarodowe Targi "EKWATEK 2014" w Moskwie', :description=>'Międzynarodowe Targi "EKWATEK 2014" w Moskwie', :keywords=>"Targi EKWATEK 2014", :link=>"exhibition-in-moscow.html"}

%p Dendor Valve Industrial będzie wystawcą na Międzynarodowych Targach Wodnych Technologii „EKWATEK 2014” w dniach 03-06 czerwca 2014r. w ramach 11-go Międzynarodowego Forum EKWATEK w Moskwie.
%p Na stoisku firmy będą Państwo mogli zapoznać się z nowościami oraz udoskonalonymi wersjami naszych produktów, wybrać i dokonać zakupu niezbędnych urządzeń, nawiązać nowe kontakty biznesowe, spotkać się ze specjalistami z branży wod – kan oraz uzyskać odpowiedzi na wszelkie pytania.
%p Wszystkich odwiedzających obowiązuje rejestracja. Organizatorzy przewidzieli także wcześniejszą rejestrację na stronie #{link_to("www.ecwatech.ru","http://www.ecwatech.ru/")}.
%p Serdecznie zapraszamy do odwiedzenia naszego stoiska w CW "Krokus Ekspo", pawilon nr 2
