-@view = {:title=>"Przepustnice", :description=>"Przepustnice", :keywords=>"Przepustnice", :link=>"types-of-butterfly-valves.html"}

.image-text-item.pull-right=image_tag("info/types-of-butterfly-valves.jpg")

%p Przepustnice zwrotne stosowane są praktycznie w każdej branży gospodarki przemysłowej. Do ich produkcji używane jest stal węglowa i nierdzewna, żeliwo, tworzywo sztuczne. Spełniają one role armatury odcinającej i regulacyjnej w rurociągach transportujących płyny, gazy, powietrze, parę. Przepustnice są armaturą pozwalającą na swobodną regulację przepływu czynnika roboczego. Idealnie dopasowany dysk do pierścienia uszczelniającego gwarantuje wysoką szczelność.
%p Przepustnice odznaczają się zwartą, kompaktowa budową, dzięki zastosowaniu specjalnego uszczelnienia kadłuba oraz trzpienia nie stykają się z przepuszczalnym czynnikiem, co równa się ze zwiększeniem odporności i trwałości elementów składowych przepustnic.
%p Sterowanie przepustnic odbywa się za pomocą napędów ręcznych, pneumatycznych, elektrycznych lub elektrohydraulicznych.
%p Istnieją trzy rodzaje przepustnic zwrotnych:
%ul
  %li przepustnica zwrotna centryczna. Dysk przepustnicy jest wykonany z żeliwa lub stali nierdzewnej, siedlisko ma gumową powłokę.
  %li przepustnica zwrotna z podwójnym mimośrodem. Dysk i siedlisko są wykonane z różnych materiałów. Ten typ jest uważany za jeden z najskuteczniejszych.
  %li przepustnica zwrotna z potrójnym mimośrodem. Ten typ jest używany w instalacjach gdzie jest wymagany bardzo wysoki stopień szczelności, np. instalacje gazowe lub instalacje do przesyłania ropy. Dysk i siedlisko w tego typu przepustnicach posiadają powłokę ochronną.
%p Przepustnice występują w wykonaniu: międzykołnierzowym i kołnierzowym. Międzykołnierzowe są montowane do kołnierza rury za pomocą otworów. Takie przepustnice znajdują zastosowanie w instalacjach wodociągowych. Przepustnice kołnierzowe stosuje się na końcu rurociągu.
%p Przy wyborze przepustnic o wysokiej jakości i szczelności do swoich potrzeb mogą Państwo zaufać marce Dendor.


