-@view = {:title=>"Typy kompensatorów", :description=>"Typy kompensatorów", :keywords=>"Typy kompensatorów", :link=>"types-of-compensators.html"}

.image-text-item.pull-right=image_tag("info/types-of-compensators.png")
%p
  %strong
    Kompensatory
  przeznaczone są do przejmowania wszelkiego rodzaju przemieszczeń: osiowych, poprzecznych, kątowych i ich kombinacji. Oprócz tego izolują wibracje, tłumią hałas oraz pochłaniają energię uderzenia hydraulicznego.
  %br/
  Obecnie na rynku armatury przemysłowej znajdują zastosowanie kilka typów kompensatorów. Różnice w budowie poszczególnych typów kompensatorów zależą od charakteru przepływającego charakteru czynnika roboczego.

%h4 Gumowe
%p
  Kompensatory gumowe składają się z mieszka wykonanego z różnego rodzaju elastomerów zbrojonych kordem syntetycznym oraz elementów mocujących do rurociągu. Kompensują wydłużenia cieplne rurociągów i korygują niewspółosiowość.
  %br/
  Stosowane są we wszelkiego rodzaju instalacjach przemysłowych, w elektrowniach, również w technice grzewczej (węzły cieplne) i sanitarnej (oczyszczalnie, pompownie ścieków, stacje uzdatniania wody).

%h4 Stalowe
%p
  Kompensatory stalowe składają się z wielowarstwowych mieszków stalowych oraz przyłączy: kołnierzowych lub do wspawania. Do produkcji stalowych kompensatorów jest używana stal nierdzewna, stopy metali tytanowych i niklowych.
  %br/
  Rozróżnia się następujące rodzaje kompensatorów stalowych: uniwersalne, osiowe, poprzeczne, kątowe.
  %br/
  Kompensatory stalowe stosuje się w celu kompensacji przesunięć, które powodują zmianę długości poszczególnych segmentów rur. Zamontowane w jej segmencie tłumią drgania, szumy, łagodzą uderzenia wody.

%h4 Tkaninowe
%p Kompensatory tkaninowe składają się z kilku, a czasem nawet kilkunastu warstw. Odpowiednie warstwy od wewnętrznej do zewnętrznej dobierane są w zależności od charakterystyki medium. Kompensatory te są stosowane przede wszystkim w przypadku wysokich temperatur, sięgających 315°С, czasami nawet wyżej, głównie dla mediów sypkich i gazowych w wielu gałęziach przemysłu. Zapewniają prawidłową kompensację przemieszczeń mechanicznych i cieplnych w różnego typu przewodach: rurociągach gorącego powietrza, kanałach spalin, rurociągach transportujących pyły i wiele innych rodzajów mediów. Do produkcji tych kompensatorów są używane materiały nie zawierające azbestu. Produkuje się je na bazie materiałów silikonowych, z włókna szklanego, aramidowych i innych koniecznych dla prawidłowej pracy instalacji.

%h4 Teflonowe
%p Kompensatory teflonowe zbudowane są z mieszka wielowarstwowego formowanego z PTFE (teflon) z zewnętrznymi pierścieniami stabilizującymi jego pracę. Stosuje się je wszędzie tam gdzie wymagana jest szczególna odporność chemiczna i temperaturowa, m.in. w przemyśle chemicznym, spożywczym i farmaceutycznym. Kompensują odkształcenia cieplne, naprężenia montażowe i wibracje.

