-@view = {:title=>"Kurek kulowy", :description=>"Kurek kulowy", :keywords=>"Kurek kulowy", :link=>"what-a-ball-valve.html"}

.image-text-item.pull-right=image_tag("info/what-a-ball-valve.jpg")

%p Większości instalatorów słowo „kurek” kojarzy się z zaworem czerpalnym do zimnej wody usytuowanym nad zlewem lub zainstalowanym na końcu rurociągu z końcówką do węża do podlewania ogrodu. Jednak prawidłowa nazwa tej armatury powinna brzmieć „kurek kulowy”.
%p Kurek kulowy jest urządzeniem mechanicznym, które steruje procesem przepływu różnych mediów przez otwór w kuli.  Kurek kulowy składa się z korpusu, gniazda wraz z kulą i wałka zwrotnego. Gdy zawór jest otwarty kula z wydrążonym w środku otworem przepuszcza medium, jeśli zaś obrócimy ją o 90º, zakryje gniazdo i zablokuje przepływ. Kurki pełnią typową funkcję otwórz/zamknij ze względu na stromą charakterystykę uniemożliwiającą regulację przepływu czynnika.
%p A kto pierwszy wynalazł kurek kulowy? Jednym z hamulców wzrostu produkcji przemysłowej po wojnie stały się zawory grzybkowe i zasuwy klinowe, powszechnie stosowane w instalacjach przemysłowych. Miały one zbyt duże przecieki (między innymi na dławnicach), co powodowało konieczność częstych wyłączeń. Zmuszało to producentów do poszukiwania nowych rozwiązań konstrukcyjnych. Pierwszy kurek kulowy został opatentowany w 1957 roku przez Zakłady Klingera w Niemczech i Austrii. Konstrukcja kurków była stale modernizowana, aż do stworzenia obecnie obowiązującego standardu o nazwie Ballostar i Ballostar A. Kurki te mają zastosowanie w instalacjach ciepłowniczych, elektrociepłowniach, zakładach celulozowo-papierniczych, zakładach chemicznych, a także w instalacjach przesyłu gazu. Mogą być montowane na rurociągach o średnicach od DN 10 do DN 1100. Wynalazcą zaworu był dr Hubert Klinger-Lohr, potomek Richarda Klingera.
%p Obecnie kurki te są powszechnie używane w naszym codziennym życiu. Na przykład są stosowane w bateriach zainstalowanych na naszych zlewach, wewnątrz pralek, zmywarek, w kominkach gazowych, wodociągach, lodówkach itp. Są stosowane w takich branżach jak: elektroniczna, energetyczna, motoryzacyjna, poligraficzna, tekstylna, medyczna, chemiczna i spożywcza oraz inne. Zazwyczaj od kurków kulowych wymaga się utrzymywanie wysokiego ciśnienia i temperatury ponad 250 stopni Celsjusza.  Mają one prostą konstrukcję, a ich naprawa nie wymaga natychmiastowego demontażu.
%p Typowe kurki są wykonane ze stali, mosiądzu, żelaza, brązu lub PVC, a ich wymiary wahają się w zakresie od 5 do 600 mm, a nawet więcej. Dla bardziej skomplikowanych układów sterowania, które wykorzystują kurki kulowe w celu kontrolowania przepływu czynnika roboczego konieczne jest stosowanie napędów.
%p Obecnie rozróżnia się następujące rodzaje kurków kulowych:
%ul
  %li równoprzelotowe,
  %li z redukowanym przelotem,
  %li wielodrogowe,
  %li o standardowym przelocie.
%p Istnieją również kurki trzydrogowe i czterodrogowe.
%p Do podstawowych parametrów które określają wybór danego typu kurka należą: temperatura, ciśnienie, ilość dróg, wymiar, rodzaj materiału korpusu, krańcówki oraz miejsce montażu.


