%script{:type=>"text/javascript"}
  head.js(
  {jquery: "/lib/jquery/jquery-1.10.2.js"},
  {angular: "/lib/angular/angular.js"},
  {angularAnimate: "/lib/angular/angular-animate.js"},
  {angularResource: "/lib/angular/angular-resource.js"},
  {angularRoute: "/lib/angular/angular-route.js"},
  {angularSanitize: "/lib/angular/angular-sanitize.js"},
  {angularUiBoot: "/lib/angular/ui-bootstrap-tpls-0.10.0.min.js"},
  {angularApp: "/js/app/app.js"},
  {angularAnimations: "/js/app/animations.js"},
  {angularControllers: "/js/app/controllers.js"},
  {angularFilters: "/js/app/filters.js"},
  {angularServices: "/js/app/services.js"},
  {angularDirectives: "/js/app/directives.js"},
  {siteJs: "/js/script.js"}
  );