%script{:type=>"text/javascript"}
  head.js(
  {jquery: "/lib/jquery/jquery-1.10.2.js"},
  {slidr: "/lib/slidr/slidr.min.js"},
  {slidrEx: "/lib/slidr/slidr-example.js"},
  {bootstrapModal: "/lib/bootstrap/bootstrap-transition.js"},
  {bootstrapModal: "/lib/bootstrap/bootstrap-modal.js"},
  {home: "/js/home.js"}
  );
