.navbar.navbar-inverse.navbar-static-top{:role=>"navigation"}
  .navbar-inner
    .container
      .nav-collapse.collapse
        %ul.nav
          %li=link_to("Główna","/")
          %li{:class=>@activeCatalog}=link_to("Oferta","/productions/")
          %li{:class=>@activeNews}=link_to("Aktualności","/news.html")
          %li{:class=>@activeInfo}=link_to("Info","/info.html")
          %li{:class=>@activeContact}=link_to("Kontakt","/contact.html")
          %li=link_to("Cennik","/price.html", :target=>"_blank")
        %form.navbar-search.pull-right{:metod=>"get", :action=>"/search.html"}
          %input{:type=>"text", :class=>"search-query", :placeholder=>"Search", :name=>"q"}
