%div{:itemscope=>"itemscope", :itemtype=>"http://schema.org/Organization"}
  %meta{:itemprop=>"name", :content=>"Dendor Valve Industrial"}/
  %meta{:itemprop=>"url", :content=>"http://dendor.pl"}/
  %meta{:itemprop=>"", :content=>"http://dendor.pl"}/
