.container.top-header{:itemscope=>"itemscope", :itemtype=>"http://schema.org/Organization"}
  .row
    .span6
      %meta{:itemprop=>"name", :content=>"Dendor Valve"}/
      =link_to(image_tag('logo/logo-blue193.png', :width=>"194", :height=>"59", :alt=>"Dendor Valve"), "http://dendor.pl", :itemprop=>"url")
    .span4
      .top-contact.pull-right
        .tel.text-center 48-792-516-591
        .mail.text-center= mail_to "info@dendor.pl"
    .span2
      %ul.inline.pull-right
        %li=link_to(image_tag('icons/us.gif', :width=>"16", :height=>"11", :alt=>"USA"), "http://dendor-valve.com", :title=>"USA")
        %li=link_to(image_tag('icons/pl.gif', :width=>"16", :height=>"11", :alt=>"Poland"), "http://dendor.pl", :title=>"Poland")
        %li=link_to(image_tag('icons/ru.gif', :width=>"16", :height=>"11", :alt=>"Rosja"), "http://dendor.ru", :title=>"Rosja")
